<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
        backupGlobals="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        bootstrap="vendor/autoload.php"
        colors="true"
        failOnRisky="true"
        failOnWarning="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false">
    <testsuites>
        <testsuite name="Directavel Test Suite">
            <directory suffix="Test.php">./tests</directory>
            <!-- <exclude>./tests/DirectavelTest.php</exclude>
            <exclude>./tests/DirectusFieldsTest.php</exclude>
            <exclude>./tests/DirectavelAdminUserTest.php</exclude>
            <exclude>./tests/DirectavelSettingsTest.php</exclude> -->
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="DB_CONNECTION" value="sqlite" force="true" />
        <env name="DB_DATABASE" value="tests/filesystem/database.sqlite" force="true" />
        <env name="DIRECTUS_LOGO_PATH" value="public/logo.svg" />
    </php>
</phpunit>
